<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/font/bootstrap-icons.scss}" rel="stylesheet">
        <link th:href="@{/css/font/bootstrap-icons.json}" rel="stylesheet">
        <link th:href="@{/css/font/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/css/styles.css}" rel="stylesheet">
        <title>Producto</title>
        <!---<link rel="icon" rel="stylesheet" href="img/comillas.png">--->
    </head>

    <body>
        <!----Navbar-->
        <div th:include="administrador/template_dash.html::navbar">

        </div>

        <!---Sidebar-->
        <div th:include="administrador/template_dash.html::sidebar">

        </div>

        <!---Contenido-->
        <main class="container">
            <h3 class="mb-3">Productos</h3>

            <!-----Formulario-->
            <form th:action="@{/productos/save}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <h5 class="title" id="registromodal">Crear Producto</h5> 
                    <div class="col-xl-5 has-validation mt-3">
                        <label for="nom-user" class="form-label"><span>*</span> Categoria</label>
                        <select class="form-select" name="categoria" id="categoria" >
                            <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombrecategoria}"></option>
                        </select>
                    </div>
                    <div class="col-xl-5 has-validation mt-3">
                        <label for="nom-user" class="form-label"><span>*</span> Marca</label>
                        <select class="form-select" name="marca" id="marca">
                            <option th:each="marca : ${marcas}" th:value="${marca.id}" th:text="${marca.nombremarca}"></option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-5 has-validation mt-3">
                        <label for="nom-user" class="form-label"><span>*</span> Nombre</label>
                        <input for="apell-user" type="text" class="form-control" placeholder="Nombre producto" autocomplete="off" th:value="${producto.nombreproducto}" name="nombreproducto" required>
                    </div>
                    <div class="col-xl-5 has-validation mt-3">
                        <label for="nom-user" class="form-label"><span></span> Imagen1 </label>
                        <input for="apell-user" type="file" class="form-control" placeholder="Seleccione la imagen" name="img" id="img"  >
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 has-validation mt-3">
                        <label for="date-user" class="form-label"><span>*</span> Fecha</label>
                        <input for="apell-user" type="date" class="form-control" placeholder="Fecha" autocomplete="off" th:value="${producto.fecha}" name="fecha" required>
                    </div>
                    <div class="col-xl-5 has-validation mt-3">
                        <label for="apell-user" class="form-label"><span>*</span>Precio</label>
                        <input for="apell-user" type="number" id="precio" autocomplete="off" th:value="${producto.precio}" name="precio" class="form-control">
                    </div>
                </div>
                <div class="row">

                    <div class="col-xl-5 has-validation mt-3">
                        <label for="nom-user" class="form-label"><span>*</span> Componentes</label>
                        <textarea for="nom-user" type="text" id="componente" autocomplete="off" th:value="${producto.componente}" name="componente" class="form-control" ></textarea>
                    </div>
                    <div class="col-xl-5 has-validation mt-3">
                        <label for="nom-user" class="form-label"><span>*</span> Caracteristicas</label>
                        <textarea for="nom-user" type="text" id="caracteristica" autocomplete="off" th:value="${producto.caracteristica}" name="caracteristica" class="form-control" ></textarea>
                    </div>
                </div>

                <div class="row">

                    <div class="col-xl-5 has-validation mt-3">
                        <label for="nom-user" class="form-label"><span></span> Detalles</label>
                        <textarea for="nom-user" type="text" id="detalle" autocomplete="off" th:value="${producto.detalle}" name="detalle" class="form-control" ></textarea>
                    </div>
                </div>

                </div>
                <div class="m-3">
                    <a href="Producto.html" class="btn btn-secondary ">Cerrar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
            </form>




        </main>
        <!-- Optional JavaScript; choose one of the two! -->
        <script type="text/javascript">
            $.getJSON("cargaCategoria", {}, function(data){
            $("id").append(<option value="+item.id +">"+)
        })
        </script>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

        <!-- Option 2: Separate Popper and Bootstrap JS -->
    </body>


</html>